@import '../../style/variables.scss';

.social {
  justify-content: space-around;
  align-items: center;

  &__link {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    color: #fff;
    background-color: #000;
    transition: $trans-1;

    &:hover {
      color: #000;
      background-color: #fff;
    }

    svg {
      width: 30px;
      height: 30px;
    }
  }
}