.page {
  display: flex;
  flex-direction: column;
  height: 100vh;
  &__header {
    background-color: blue;
    color: #fff;
  }
  &__main {
    flex-grow: 1;
    background-color: yellow;
  }
  &__footer {
    color: #fff;
    background-color: #000;
  }
}
