@import '../../style/variables.scss';

.article-home {
  padding: 50px 0;
  background-color: $tc-1;
  &__title {
    color: #fff;
  }
  &__description {
    display: flex;
    padding: 40px;
    background-color: $tc-2;
  }
  &__img {
    max-width: 400px;
    max-height: 320px;
    min-width: 400px;
    min-height: 320px;
    width: 400px;
    height: 320px;
  }
  &__text {
    text-indent: 30px;
    margin-left: 40px;
    font-size: 20px;
    text-align: right;
    p {
      text-align: left;
      margin-top: 0;
    }
  }
}