@import '../../style/variables.scss';

.project-card {
  margin: 0 auto;
  padding: 0 20px;
  &__title {
    margin: 0;
    color: $tc-1;
  }
  &__text {
    margin-top: 0;
  }
  &__description {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}