@import '../../style/variables.scss';

.promo-slider {
  .slick-slide>div {
    display: flex;
    width: 100%;
  }
  &__item {
    width: 100%;
  }
}

@media (max-width: $mob) {
  .promo-slider  {
    padding: 10px 0;
    .slick-next {
      right: 0;
    }
    .slick-prev {
      left: 0;
    }
    button:before {
      color: #000;
    } 
    .slick-dots {
      bottom: -5px;
    }
  }
}
