@import '../../style/variables.scss';

.promo {
  background-color: $tc-1;
  padding: 50px 0;
  &__title {
    color: #fff;
  }
  &__inner {
    padding: 40px 60px;
    background-color: $tc-2;
  }
}

@media (max-width: $tab) {
  .promo {
    padding: 30px 0;
  }
}


@media (max-width: $mob) {
  .promo__inner {
    padding: 10px 0;
  }
}