@import './variables.scss';

body {
  display: flex;
  flex-direction: column;
  height: 100vh;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  background-color: $tc-1;
  cursor: default;
}

a {
  text-decoration: none;
  color: inherit;
}

input,
textarea,
button {
  font: inherit;
}

img {
  vertical-align: bottom;
  height: auto;
}

button:focus,
a:focus,
input:focus,
textarea:focus {
  outline: 0;
}
::selection {
  background: transparent;
}
::-moz-selection {
  background: transparent;
}

footer {
  margin-top: auto;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

.container {
  max-width: 1300px;
  padding: 0 25px;
  margin: 0 auto;
  @media (max-width: $tab) {
    max-width: 768px;
    padding: 0 10px;
    box-sizing: border-box;
  }
}

#root {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
}

.btn {
  display: block;
  max-width: 150px;
  padding: 8px 20px;
  padding-bottom: 6px;
  background-color: transparent;
  text-decoration: none;
  border: 2px solid $tc-1;
  text-align: center;
  color: $tc-1;
  font-weight: 700;
  text-transform: uppercase;
  border-radius: 6px;
  transition: $trans-1;
  cursor: pointer;

  &:hover {
    color: $contr-c;
    background-color: $tc-1;
  }
}

.link {
  color: rgba(33, 33, 226, 1);
  text-decoration: underline;
  &:hover {
    text-decoration: none;
  }
  &:active {
    color: rgba(33, 33, 226, 0.75);
    text-decoration: underline;
  }
}

.section-title {
  margin: 0;
  margin-bottom: 20px;
  font-size: 28px;
  font-weight: 500;
  @media (max-width: $tab) {
    font-size: 24px;
    margin-bottom: 15px;
  }
}