@import '../../style/variables.scss';

.project-row {
  display: flex;
  width: 100%;
  padding: 20px 0;
  border-bottom: 1px solid $tc-1;

  &:first-child {
    border-top: 1px solid $tc-1;
  }

  &__img {
    display: block;
    width: 472px;
    height: 267px;
  }

  &__content {
    margin-left: 40px;
    color: $tc-1;
  }

  &__list {
    margin-bottom: 10px;
  }

  &__item {
    margin-bottom: 10px;
    border-bottom: 1px dashed $tc-1;

    b {
      display: inline-block;
      width: 170px;
    }

    sup {
      font-size: 11px;
    }
  }
}

@media (max-width: $tab) {
  .project-row {
    &__img {
     width: 378px;
     height: 213px;
    }
    &__content {
      margin-left: 10px;
    }
    &__title {
      margin-top: 0;
      font-size: 16px;
    }
    &__item {
      font-size: 12px;
      b {
        font-size: 11px;
        width: 105px;
      }
      sup {
        display: inline-block;
        margin-right: -10px;
        font-size: 9px;
      }
    }
    &__price {
      margin: 5px 0;
    }
  }
}

@media (max-width: $mob) {
  .project-row {
    display: block;
    &__img {
      width: 100%;
      height: 50vw;
      margin-bottom: 10px;
    }
    &__content {
      margin: 0;
      display: flex;
      flex-wrap: wrap;
      align-items: center;
    }
    &__title {
      width: 100%;
    }
    &__list {
      width: 100%;
      margin: 0;
    }
    &__price {
      margin-right: auto;;
    }
  }
}