.attention {
  &__link {
    display: block;
    padding: 15px;
    color: #fff;
    font-size: 22px;
    line-height: 30px;
    text-align: center;
    text-decoration: none;
    background-color: rgb(255, 0, 0);
    transition: 0.2s;
    &:hover {
      font-size: 24px;
      background-color: rgb(220, 0, 0);
    }
    &:active {
      font-size: 22px;
      background-color: rgb(255, 0, 0);
    }
  }
}