@import '../../../style/variables.scss';

.article {
  &__img {
    float: left;
    max-width: 400px;
    max-height: 320px;
    min-width: 400px;
    min-height: 320px;
    width: 400px;
    height: 320px;
    padding-right: 40px;
    padding-bottom: 40px;
  }
  &__img-big {
    margin: 20px 0;
    width: 100%;
  }
  &__text {
    font-size: 20px;
    line-height: 30px;
  }
}


@media (max-width: $tab) {
  .article {
    &__img {
      max-width: 300px;
      max-height: 240px;
      min-width: 300px;
      min-height: 240px;
      width: 300px;
      height: 240px;
      padding-right: 20px;
      padding-bottom: 20px;      
    }
    &__text {
      font-size: 16px;
      line-height: 26px;
    }
  }
}

@media (max-width: $mob) {
  .article {
    &__img {
      min-width: 100%;
      min-height: 75vw;
      padding-right: 0;
    }
  }
}