@import '../../../style/variables.scss';

.articles-page {
  padding: 50px 0;
  color: $tc-1;
  background-color: $tc-2;
  flex-grow: 1;

  &__inner {
    display: flex;
    width: 100%;
  }

  &__list {
    min-width: 250px;
    padding-right: 20px;
    margin-right: 40px;
    border-right: 1px solid $tc-1;
  }

  &__item {
    margin-bottom: 10px;
  }

  &__article {
    flex-grow: 1;
  }
}


@media (max-width: $tab) {
  .articles-page {
    &__list {
      min-width: 160px;
    }
    &__item {
      margin: 0;
      padding: 15px 0;
      border-bottom: 1px dashed $tc-1;
    }
  }
}