@import '../../style/variables.scss';

.footer {
  padding: 35px 0;
  background-color: #000000;

  .container {
    display: flex;
    justify-content: space-between;
  }

  &__navigation {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-right: 20px;
  }

  &__link {
    margin-bottom: 5px;
    color: #fff;
    border-bottom: 1px solid transparent;     
    text-decoration: none;
    &:hover {
      border-bottom: 1px solid #fff;      
    }

    &.active {
      border-bottom: 1px dashed #fff;
    }
  }

  .social {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 200px;
  }

  &__contacts {
    width: 170px;
    color: #fff;
    line-height: 25px;
  }
}

@media (max-width: $mob) {
  .footer {
    .container {
      display: block;
    }
    &__navigation {
      display: none;
    }
    &__contacts {
      width: auto;
      max-width: 320px;
      margin: 0 auto;
    }
    .social {
      width: auto;
      justify-content: center;
      &__link {
        margin: 10px;
      }
    }
  }
}